<h1>You are on your last step!</h1>
<% @cart.line_items.each do |c| %>
  <p><strong>Quantity</strong>
    <%= c.quantity %></p>
  <p>
  <div style="width:100px; height:auto">
    <%= image_tag(c.item.image, style:'width:100%') %>
  </div>
  </p>

  <p>
    <strong>Item</strong>
    <%= c.item.name %>
  </p>
  <p>
    <strong>Price</strong>
    <%= number_to_currency(c.total_price) %>
  </p>
<% end %>
<p><strong>Total </strong>
  <%= number_to_currency(@cart.total_price) %>
</p>
<p><strong>Name On Card</strong>
  <%= current_user.card_name %></p>

<p>
  <strong>Card Number</strong>
  <%= current_user.card_number %>
</p>
<p>
  <strong>Expiry Date</strong>
  <%= current_user.exp %>
</p>

<p><strong>CVV</strong>
  <%= current_user.cvv %></p>

<%= link_to 'Back', items_path %>
<%= link_to 'Pay Now', send_otp_path%>