<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<!--      the search to filter out what is required-->
<%= form_tag orders_path, :method => 'get' do %>
  <p>
    Search
    <!--    getting the quantity name-->
    <%if current_user.admin? %>
      <%= text_field_tag :search_user, params[:search_user] %> (user name)
    <%end %>
    <!--    getting the column name using the drop down-->
    <%= text_field_tag :search_item, params[:search_item] %> (item name)
    <%= submit_tag "Search", :name => nil %>
  </p>
  <%if not params[:search_user].nil? or not params[:search_item].nil? %>
    <%=link_to 'Cancel Search', orders_path %>
  <%end%>
<% end %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
<!--      <th>Item</th>-->
      <th>Status</th>
<!--      creating new columns for the approve and disapprove buttons-->
      <th>Actions</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
<!--        to display just for the user-->
        <%if (order.user_id == current_user.id) && (not current_user.admin?)%>
          <td><%= order.user_name %></td>
          <td><%= order.name %></td>
          <td><%= order.quantity %></td>
          <td><%= order.price %></td>
<!--          <td><%#= order.item_id %></td>-->
          <td><%= order.status %></td>
<!--          option to return the item - status 0 and 2-->
          <%if order.status == 'Purchased' or order.status == 'Special Item Purchased'%>
            <td>
              <%= button_to 'Return Item?', orders_update_status_path(:order => order, :id => order.id, :status => 4), class: 'btn btn-danger', :method => :post%>
            </td>
            <%end %>
          <%end %>

        <%if current_user.admin? %>
<!--          admin display-->
          <td><%= order.user_name %></td>
          <td><%= order.name %></td>
          <td><%= order.quantity %></td>
          <td><%= order.price %></td>
          <td><%= order.status %></td>
<!--          special item buying request - status 1-->
          <%if order.status == 'Pending Admin Approval' %>
            <td>
              <%= button_to 'Approve', orders_update_status_path(:order => order, :id => order.id, :status => 2), class: 'btn btn-danger', :method => :post%>
            </td>
            <td>
              <%= button_to 'Reject', orders_update_status_path(:order => order, :id => order.id, :status => 3), class: 'btn btn-danger', :method => :post%>
            </td>
          <% end%>
<!--          return the item request - status 4-->
          <%if order.status == 'Return Requested - awaiting Admin approval' %>
            <td>
              <%= button_to 'Approve', orders_update_status_path(:order => order, :id => order.id, :status => 5), class: 'btn btn-danger', :method => :post%>
            </td>
            <td>
              <%= button_to 'Reject', orders_update_status_path(:order => order, :id => order.id, :status => 6), class: 'btn btn-danger', :method => :post%>
            </td>
          <%end %>
        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
