<!DOCTYPE html>
<html>
  <head>
    <title>StoreManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--    adding a home link that appears in all pages-->
    <p align="right"><%=link_to 'Home', root_path %></p>
<!--    adding a cart link-->
<!--had to add a condition to check if the cart_id is nil because the cart seems to be assigned in the index page-->
    <%if (user_signed_in?) && (not session[:cart_id].nil?) %>
    <p align="right"><%=link_to 'Cart', cart_path(session[:cart_id]) %></p>
    <%end %>
<!--    adding an items link to items index page-->
    <p align="right"><%=link_to 'Items', items_path %></p>
    <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
